<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Weather App</h1>
    <div>
        <form action="{{url_for('home')}}", method="POST">
            <input type="text" name="city">
            <input type="submit" name="submit" value="enter">
        </form>
    </div>
    <div>
        <p style="font-size: 30;text-align: center;">
            <strong style="font-size: 30;text-align: center;">City: </strong><span style="font-size: 30;text-align: center;">{{ weather.City }}</span>
            <br><br>
            <strong style="font-size: 30;text-align: center;">Location: </strong><span>{{ weather.Location }}</span>
            <br><br>
            <strong style="font-size: 30;text-align: center;">Weather: </strong><span>{{ weather.Main_weather }}</span>
            <br><br>
            <strong style="font-size: 30;text-align: center;">Weather in detail: </strong><span>{{ weather.Description_weather }}</span>
            <br><br>
            <strong style="font-size: 30;text-align: center;">Temperature: </strong><span>{{ weather.Temperatur }} &#8451;</span>
            <br><br>
            <strong style="font-size: 30;text-align: center;">Feel like: </strong><span>{{ weather.Feels_like }} &#8451;</span>
            <br><br>
            <strong style="font-size: 30;text-align: center;">Min temperature: </strong><span>{{ weather.Temp_min }} &#8451;</span>
            <br><br>
            <strong style="font-size: 30;text-align: center;">Max temperature: </strong><span>{{ weather.Temp_max }} &#8451;</span>
            <br><br>
            <strong style="font-size: 30;text-align: center;">Humidity: </strong><span>{{ weather.Humidity }} %</span>
        </p>
        
    </div>
</body>
</html>